.LogInButton--microsoft {
    border-top-color: rgb(25, 87, 133);
    border-right-color: rgb(25, 87, 133);
    border-bottom-color: rgb(25, 87, 133);
    border-left-color: rgb(25, 87, 133);
    border-width: 1px;

    .Button--color(#000, #004578);
}
